.container{
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: aquamarine; */
    /* margin: 1rem; */
    font-weight: 400;
    background-repeat:repeat ;
  
    background-image: url(../../assets/kisspng-vegetarian-cuisine-rice-indian-cuisine-food-basmat-rice-5abbe457076067.2831289015222631270302.png);
    border-radius: 2%;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    height: 100vh;
    scroll-behavior: smooth;
   
    img{
        width: 600px;
        position: absolute;
        top: 5px;
        
    }
    h1{
        position: inherit;
        margin-top: 100px;
    }

}
form{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: medium;

  input{
    padding: 5px;
    padding-left: 15px;
    
  }
  input[type='submit']{
    background-color:antiquewhite;
    border: none;
  }


    
}
@media (max-width: 650px) {
  .container {
    display: flex;
    justify-content: center;
    img{
      display: none;
    }
  }

  
}